steps:
- task: NodeTool@0
  inputs:
    versionSpec: 'lts'
    # You can also change 'lts' to any supported LTS Node.js version.
  displayName: 'Install Node.js'

- script: |
    npm install -g @testim/testim-cli
    testim \
    --token "NYNp46OWeGXYjfoEFQhBv3xOsuwXhfXaHsVKM9tpZFnohltcE7" \
    --project "SlfFgrPgc5jlfXebFImn" \
    --grid "Testim-Grid" \
    --branch "Ganesh_test" \
    --report-file testim-tests-report.xml
  displayName: 'npm install testim-cli and run tests'

- task: PublishTestResults@2
  displayName: 'publish testim test results'
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/testim-tests-report.xml'
