trigger: none

pool:
  name: local-mac-agent

steps:
- script: |
    echo "Node version:"
    node -v
    npm -v

    echo "Installing Testim CLI"
    npm install -g @testim/testim-cli

    echo "Running Testim tests (STAGING)"
    testim \
      --token "$(TESTIM_TOKEN)" \
      --project "SlfFgrPgc5jlfXebFImn" \
      --branch "Ganesh_test" \
      --grid "Testim-Grid" \
      --testId hGY9vBhDugn5WI6F \
      --params '{"environment":"staging"}' \
      --report-file testim-tests-report.xml
  displayName: 'Run Testim Tests (Staging)'

- task: PublishTestResults@2
  displayName: 'Publish Testim Results'
  condition: always()
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/testim-tests-report.xml'
